<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>StudentServlet3</servlet-name>
        <servlet-class>StudentServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet3</servlet-name>
        <url-pattern>/StudentServlet3</url-pattern>
    </servlet-mapping>
</web-app>
